{
  "groups": {},
  "tagOwners": {
    "tag:admin-device": ["admin@"],
    "tag:project-alpha": ["admin@"],
    "tag:role-dev": ["admin@"],
    "tag:role-prod": ["admin@"],
    "tag:relay": ["admin@"],
    "tag:relay-jp": ["admin@"]
  },
  "hosts": {},
  "grants": [
    {
      "src": ["tag:project-alpha"],
      "dst": ["tag:project-alpha"],
      "ip": ["*"]
    },
    {
      "src": ["tag:admin-device"],
      "dst": ["tag:project-alpha"],
      "ip": ["tcp:22"]
    },
    {
      "src": ["tag:project-alpha"],
      "dst": ["tag:relay-jp"],
      "app": {
        "tailscale.com/cap/relay": []
      }
    }
  ]
}
